---
import { fetchPosts } from "../../functions/wordpress";

import Layout from "../../layouts/BaseLayout.astro";
import Content from "../../layouts/containers/BaseContent.astro";

const data = await fetchPosts({
    query: `
        query posts {
            posts {
                nodes {
                    slug
                    title
                    content
                }
            }
        }
    `,
});

const { slug } = Astro.params;

const post = data.find((post) => post.slug === slug);
if (!post) return Astro.redirect("/404");

const { title, content } = post;
---

<Layout title="" pageTitle="" pageDescription="">
    <Content className="gap-10">
        <div class="flex flex-col md:flex-row gap-8 md:gap-16 p-6">
            <h1 class="w-[30%] flex-1 text-3xl font-medium">{title}</h1>
        </div>
        <div class="prose">
            <Fragment set:html={content} />
        </div>
    </Content>
</Layout>
