---
interface Props {
    text: string;
    link: string;
    linkTitle: string;
    className: string;
}
const { text, link, linkTitle, className } = Astro.props;

import AngleIcon from "../icons/angle.svelte";
---

<a
    class=`${className} group text-pink-100 flex flex-row items-center gap-3 hover:text-pink-50 `
    href={link}
    title=`Ir a ${linkTitle}`
    >{text}
    <AngleIcon
        width={8}
        className={"fill-pink-100 group-hover:translate-x-0.5 transition-all ease"}
    />
</a>
