---
interface Props {
    text: string;
    linkTitle: string;
}
const { text, linkTitle } = Astro.props;
---

<a
    class="px-4 py-2 bg-velvet-900/[0.15] rounded-full text-pink-100 flex flex-row items-center gap-3 hover:bg-velvet-900/25 hover:text-pink-50 active:bg-velvet-900/30"
    href="#"
    title=`Ir a ${linkTitle}`
    >{text}
    <svg
        width="7"
        height="11"
        viewBox="0 0 7 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 0V1.57143H1.57143V0H0ZM3.14286 3.14286V1.57143H1.57143V3.14286H3.14286ZM4.71429 4.71429V3.14286H3.14286V4.71429H4.71429ZM4.71429 6.28571H6.28571V4.71429H4.71429V6.28571ZM3.14286 7.85714V6.28571H4.71429V7.85714H3.14286ZM3.14286 7.85714H1.57143V9.42857H3.14286V7.85714ZM0 11V9.42857H1.57143V11H0Z"
            fill="#FFE0F0"></path>
    </svg>
</a>
