---
interface Props {
    text: string;
    linkTitle: string;
    className: string;
}
const { text, linkTitle, className } = Astro.props;
---

<a
    class=`${className} group text-pink-100 flex flex-row items-center gap-3 hover:text-pink-50 `
    href="#"
    title=`Ir a ${linkTitle}`
    >{text}
    <svg
        class="fill-pink-100 group-hover:translate-x-0.5 transition-all ease"
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 0V2H2V0H0ZM4 4V2H2V4H4ZM6 6V4H4V6H6ZM6 8H8V6H6V8ZM4 10V8H6V10H4ZM4 10H2V12H4V10ZM0 14V12H2V14H0Z"
        ></path>
    </svg>
</a>
