<section class="bg-velvet m-8 rounded-3xl h-[400px] items-center flex flex-row">
    <div class="max-w-screen-lg mx-auto flex flex-row">
        <div class="basis-2/3 flex flex-col gap-8">
            <h1 class="text-electricPink font-black font-title text-6xl">Info</h1>
            <p class="text-featureText text-3xl">
                Entusiasta del código abierto, apasionado por el diseño de
                interfaces y la accesibilidad en la web.
            </p>
            <div class="flex flex-row gap-7 items-center text-featureText">
                <picture><img class="rounded-full" width="75" height="75" src="/public/images/autor-photo.png" alt="Foto de Michael Barrera"></picture>
                <div class="flex flex-row gap-7 items-center">
                    <div class="flex flex-col">
                        <h2 class="text-lg">Michael Barrera</h2>
                        <p>Desarrollador Web</p>
                    </div>
                    <div class="flex flex-col">
                        <p>Sígueme en:</p>
                        <ul class="flex flex-row">
                            <li><a href="">Github</a></li>
                            <li><a href="">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="basis-1/3">
        </div>
    </div>
</section>
