---
interface Props {
    proyectCat: string;
    proyectName: string;
    proyectDesc: string;
    proyectLabels: string[];
}
const { proyectCat, proyectName, proyectDesc, proyectLabels } = Astro.props;
---

<article
    class="group relative w-full bg-velvet-900/10 px-6 py-7 md:p-9 border rounded-2xl border-pink-900/25 grid grid-cols-[auto_min-content] md:grid-cols-[2fr_min-content] gap-y-7 gap-x-4 md:gap-8 transition ease-[cubic-bezier(0.345, 0.115, 0.135, 1.42)] shadow-3d hover:shadow-3d-hover active:shadow-3d-active hover:border-pink-900/50 hover:bg-velvet-900/25"
>
    <div
        class="flex flex-col gap-2 md:gap-3 text-pink-100 group-hover:text-pink-50 group-active:translate-y-0.5"
    >
        <em class="text-sm md:text-base text-pink-200 not-italic"
            >{proyectCat}</em
        >
        <h3 class="text-xl md:text-2xl font-medium line-clamp-2">
            <a class="after:content-[''] after:absolute after:inset-0" href="#"
                >{proyectName}</a
            >
        </h3>
        <p class="text-base md:text-lg line-clamp-3 xl:line-clamp-none">
            {proyectDesc}
        </p>
    </div>
    <svg
        class="w-auto scale-90 md:scale-100 fill-pink-400/75 group-hover:fill-pink-400 group-active:translate-y-0.5"
        width="38"
        height="39"
        viewBox="0 0 38 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0.25 0.75H7.75V8.25H37.75V28.875H4V4.5H0.25V0.75ZM7.75 25.125H34V12H7.75V25.125ZM7.75 32.625H13.375V38.25H7.75V32.625ZM34 32.625H28.375V38.25H34V32.625Z"
            fill-opacity="0.75"></path>
    </svg>
    <ul
        class="flex flex-row gap-2 col-span-2 md:gap-3 items-end group-active:translate-y-0.5"
    >
        {
            proyectLabels.map((label) => (
                <li class="text-pink-100 text-xs bg-velvet-900/25 px-3 py-1 rounded-full">
                    {label}
                </li>
            ))
        }
    </ul>
</article>
