---
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
interface Props {
    heading: string;
    description: string;
    linkedin: string;
    github: string;
}
const { heading, description, linkedin, github } = Astro.props;
---

<section
    class="bg-pink m-3.5 md:mx-4 md:my-8 lg:m-4 xl:m-8 py-7 md:px-12 rounded-3xl h-[520px] md:h-[360px] lg:h-[450px] flex flex-row items-start md:items-center bg-no-repeat bg-[url('/images/backgrounds/m-primary-pattern.svg')] bg-bottom bg-contain md:bg-[url('/images/backgrounds/primary-pattern.svg')] md:bg-[45vw_45%] md:bg-[length:850px_680px]"
>
    <div class="max-w-screen-lg w-full mx-auto">
        <div
            class="w-full md:w-[75%] lg:w-[65%] xl:w-[55%] flex flex-col gap-10 lg:gap-14 md:p-0"
        >
            <div class="flex flex-col gap-5 md:gap-7 px-6 md:px-0 lg:px-0">
                <h1
                    class="text-pink-400 font-black font-title text-4xl md:text-5xl lg:text-6xl"
                >
                    {heading}
                </h1>
                <p class="text-pink-100 text-xl md:text-2xl lg:text-3xl">
                    {description}
                </p>
            </div>
            <div
                class="flex flex-col md:flex-row gap-6 items-center text-pink-100"
            >
                <div
                    class="w-full md:w-fit flex flex-row items-center gap-5 px-6 md:px-0 lg:px-0"
                >
                    <img
                        class="w-[55px] md:w-[65px] lg:w-[70px] h-fit rounded-full ring-2 ring-pink-100/25"
                        width="75"
                        height="75"
                        src="/images/autor-photo.png"
                        alt="Foto de Michael Barrera"
                    />
                    <div class="flex flex-col gap-1">
                        <h2 class="text-xl lg:text-2xl font-bold text-pink-50">
                            Michael Barrera
                        </h2>
                        <p class="text-base lg:text-lg">Desarrollador Web</p>
                    </div>
                </div>
                <div
                    class="w-full md:w-fit flex flex-row items-center bg-pink-900/10 md:bg-pink px-6 py-4 md:p-0"
                >
                    <div
                        class="flex md:flex-col items-center md:items-start gap-5 md:gap-3 md:pl-6 md:border-l md:border-pink-100/25"
                    >
                        <p class="text-sm">Más información:</p>
                        <ul class="flex flex-row gap-5">
                            <li class="flex flex-row items-center gap-2">
                                <GithubIcon />
                                <a
                                    class="text-sm lg:text-base hover:underline"
                                    href={github}
                                    target="_blank"
                                    rel="noreferrer nofollow"
                                    title="Visitar perfil de GitHub"
                                >
                                    Github
                                </a>
                            </li>
                            <li class="flex flex-row items-center gap-2">
                                <LinkedinIcon />
                                <a
                                    class="text-sm lg:text-base hover:underline"
                                    href={linkedin}
                                    target="_blank"
                                    rel="noreferrer nofollow"
                                    title="Visitar perfil de Linkedin"
                                >
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
