---
import Layout from "../layouts/layout.astro";
import Content from "../layouts/containers/content.astro";

import Hero from "../components/sections/heroPrimary.astro";
---

<Layout
    title="Blog - Michael Barrera Developer"
    pageTitle="Blog"
    pageDescription="Articulos del blog"
>
    <Hero heading="Blog" description="fded" />
    <Content>
        <section class="flex flex-col gap-9">
            <h2>Bienvenido al Blog</h2>
        </section>
    </Content>
</Layout>
