---
import Layout from "../layouts/layout.astro";
import Content from "../layouts/containers/content.astro";
import Hero from "../components/sections/hero-primary.astro";
import ProyectCard from "../components/cards/proyecto.astro";
import PillLink from "../components/buttons/pill-link.astro";
import PostCard from "../components/cards/post.astro";
import ButtonSecondary from "../components/buttons/secondary.astro";
---

<Layout
    title="Información - Michael Barrera Developer"
    pageTitle="Información"
    pageDescription="Información de Michael Barrera; Acerca de, proyectos y últimos post en el blog."
>
    <Hero
        heading="Info"
        description="Entusiasta del código abierto, apasionado por el diseño de interfaces y la accesibilidad en la web."
    />
    <Content>
        <section class="flex flex-col gap-6 md:gap-9 mb-8">
            <div class="w-full flex flex-row justify-between items-center">
                <h2 class="text-2xl md:text-3xl text-pink-50 font-medium">
                    Proyectos recientes
                </h2>
                <PillLink
                    text="Ver todos"
                    linkTitle="Ver todos los proyectos"
                />
            </div>
            <div class="flex flex-col md:grid md:grid-cols-2 gap-5 md:gap-9">
                <ProyectCard
                    proyectCat="WordPress Plugin"
                    proyectName="WooCommerce AdCombo Integration Plugin"
                    proyectDesc="Integración entre WooCommerce y la API de AdCombo, para crear pedidos y enviar la información del cliente en tiempo real."
                    proyectLabels={["PHP", "Woocommerce", "WordPress"]}
                />
                <ProyectCard
                    proyectCat="E-commerce"
                    proyectName="Naturista Express"
                    proyectDesc="Tienda en línea con sincronización de pedidos vía API. Personalización de plantillas de Woocommerce como el carrito y checkout."
                    proyectLabels={["PHP", "JavaScript", "Woocommerce"]}
                />
            </div>
        </section>
        <section class="flex flex-col gap-9 my-8 items-center">
            <h2 class="w-full text-2xl md:text-3xl text-pink-50 font-medium">
                Publicaciones del blog
            </h2>
            <div class="flex flex-col gap-7">
                <PostCard
                    postCat="How to"
                    postDate="Hace 3 días"
                    postTitle="Como instalar WordPress en cualquier servidor Linux"
                    postDesc="Lorem ipsum dolor sit amet consectetur. Orci ac nunc non ullamcorper. Cursus tincidunt ornare malesuada ridiculus odio sed integer erat iaculis."
                    postImage="/images/imgen_destacada_del_post.png"
                />
                <PostCard
                    postCat="WordPress Tricks"
                    postDate="Hace 6 días"
                    postTitle="Iterar entre categorías de post y categorías de producto"
                    postDesc="Lorem ipsum dolor sit amet consectetur. Orci ac nunc non ullamcorper. Cursus tincidunt ornare malesuada ridiculus odio sed integer erat iaculis."
                    postImage="/images/imgen_destacada_del_post.png"
                />
                <PostCard
                    postCat="How to"
                    postDate="Hace 1 semana"
                    postTitle="Como instalar WordPress en cualquier servidor Linux"
                    postDesc="Lorem ipsum dolor sit amet consectetur. Orci ac nunc non ullamcorper. Cursus tincidunt ornare malesuada ridiculus odio sed integer erat iaculis."
                    postImage="/images/imgen_destacada_del_post.png"
                />
            </div>
            <ButtonSecondary text="Cargar más post" />
        </section>
    </Content>
</Layout>
