---
import Layout from "../layouts/Layout.astro";
import Content from "../layouts/containers/Content.astro";

import Hero from "../components/HeroPrimary.astro";
---

<Layout
    title="Proyectos - Michael Barrera Developer"
    pageTitle="Proyectos"
    pageDescription="Listado de todos los proyectos relevantes"
>
    <Hero heading="Proyectos" description="fded" author />
    <Content>
        <section class="flex flex-col gap-9"></section>
    </Content>
</Layout>
