---
import BreadCrumb from "./nav/BreadCrumb.svelte";
import NavMenu from "./nav/NavMenu.svelte";

interface Props {
    currentPath: string;
    pageName: string;
}
const { currentPath, pageName } = Astro.props;
---

<header class="bg-pink relative w-full z-50">
    <div
        class="container relative max-w-screen-xl h-[55px] lg:h-fit flex md:flex-row items-center justify-between mx-auto pl-5 lg:pl-6 lg:pr-1"
    >
        <div
            class="max-w-[80%] md:max-w-[50%] flex flex-row items-center gap-3"
        >
            <a class="flex-none" title="Ir al inicio" href="/">
                <img
                    alt="Logo"
                    class="w-[35px] inline transition-all hover:scale-110 hover:brightness-110 active:brightness-100"
                    width={55}
                    height={55}
                    src="https://media.michaelbarrera.dev/2023/10/logo-m-100x100-1-150x150.png.webp"
                    loading="lazy"
                    decoding="async"
                />
            </a>
            <BreadCrumb
                className="flex-auto"
                pathname={currentPath}
                currenPage={pageName}
            />
        </div>
        <NavMenu client:load currentPath={currentPath} />
    </div>
</header>
