---
interface Props {
  logoUrl: string;
  pageName: string;
}
const { logoUrl, pageName } = Astro.props;

import NavItem from "../components/nav/nav-item.astro";
import Hamburguer from "./buttons/hamburguer.svelte";
---

<header class="bg-pink relative w-full z-50">
  <div
    class="container relative max-w-screen-xl h-[55px] lg:h-fit flex md:flex-row items-center justify-between mx-auto pl-5 lg:pl-6 lg:pr-1"
  >
    <picture
      class="w-full md:w-1/2 flex flex-row justify-start items-center gap-2 md:gap-3"
    >
      <a title="Ir al inicio" href="/">
        <img
          class="inline transition-all hover:scale-110 hover:brightness-110 active:brightness-100"
          width="40"
          height="40"
          src={logoUrl}
        />
      </a>
      <span class="text-sm md:text-base">/</span>
      <p class="w-full text-sm md:text-base text-pink-100 font-medium">
        {pageName}
      </p>
    </picture>
    <Hamburguer client:load />
    <nav
      id="navMenuPrimary"
      class="w-[200px] lg:w-1/2 absolute lg:relative invisible lg:visible top-10 lg:top-0 right-5 lg:right-0 transition-all ease-in duration-100 opacity-0 lg:opacity-100 scale-95 lg:scale-100 z-10"
    >
      <ul
        class="w-full overflow-hidden flex flex-col lg:flex-row lg:justify-end lg:p-0 bg-pink border lg:border-none border-pink-200/10 lg:bg-pink rounded-xl lg:rounded-none shadow-xl"
      >
        <NavItem text="Información" link="/" linkTitle="Ir al inicio" />
        <NavItem
          text="Proyectos"
          link="/proyectos"
          linkTitle="Ir a proyectos"
        />
        <NavItem text="Blog" link="/blog" linkTitle="Ir al blog" />
      </ul>
    </nav>
  </div>
</header>

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {
    const hammyButton = document.getElementById("hammyButton");
    const menuPrimary = document.getElementById("navMenuPrimary");
    let firstClick = true;

    hammyButton.onclick = () => {
      if (firstClick) {
        menuPrimary.classList.remove(
          "invisible",
          "scale-95",
          "top-10",
          "opacity-0",
        );
        menuPrimary.classList.add(
          "visible",
          "scale-100",
          "top-12",
          "opacity-100",
        );
        firstClick = false;
        OpenModal = true;
      } else {
        menuPrimary.classList.remove(
          "visible",
          "scale-100",
          "top-12",
          "opacity-100",
        );
        menuPrimary.classList.add(
          "invisible",
          "scale-95",
          "top-10",
          "opacity-0",
        );
        firstClick = true;
        OpenModal = false;
      }
    };
  });
</script> -->
