---
interface Props {
    heading: string;
    description: string;
    author: boolean;
}
const { heading, description, author } = Astro.props;

import LinkedinIcon from "../components/Icons/LinkedinIcon.astro";
import GithubIcon from "../components/Icons/GithubIcon.astro";
---

<section
    class="bg-pink m-8 rounded-3xl h-[450px] items-center flex flex-row bg-[url('/images/backgrounds/primary-pattern.svg')] bg-no-repeat bg-[55vw_70%] bg-[length:850px_620px]"
>
    <div class="max-w-screen-lg w-full mx-auto">
        <div class="w-[55%] flex flex-col gap-12">
            <div class="flex flex-col gap-7">
                <h1 class="text-pink-400 font-black font-title text-6xl">
                    {heading}
                </h1>
                <p class="text-pink-100 text-3xl">
                    {description}
                </p>
            </div>
            {
                author && (
                    <div class="flex flex-row gap-5 items-center text-pink-100">
                        <picture>
                            <img
                                class="rounded-full"
                                width="75"
                                height="75"
                                src="/images/autor-photo.png"
                                alt="Foto de Michael Barrera"
                            />
                        </picture>
                        <div class="flex flex-row items-center">
                            <div class="flex flex-col gap-1 pr-6">
                                <h2 class="text-2xl font-bold text-pink-50">
                                    Michael Barrera
                                </h2>
                                <p class="text-lg">Desarrollador Web</p>
                            </div>
                            <div class="flex flex-col gap-3 border-l pl-6 border-pink-100/25">
                                <p class="text-sm">Sígueme en:</p>
                                <ul class="flex flex-row gap-5">
                                    <li class="flex flex-row gap-2">
                                        <>
                                            <GithubIcon />
                                            <a class="hover:underline" href="#">
                                                Github
                                            </a>
                                        </>
                                    </li>
                                    <li class="flex flex-row gap-2">
                                        <>
                                            <LinkedinIcon />
                                            <a class="hover:underline" href="#">
                                                Linkedin
                                            </a>
                                        </>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                )
            }
        </div>
    </div>
</section>
