---
interface Props {
    title: string;
    pageDescription: string;
    pageTitle: string;
}
const { title, pageTitle, pageDescription } = Astro.props;

import "@fontsource/ibm-plex-sans/300.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/500.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/dela-gothic-one";

import Header from "../components/Header.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={pageDescription} />
    </head>
    <body class="bg-velvet text-velvet-50">
        <Header
            logoUrl="/favicon.png"
            pageName={pageTitle}
            links={["Información", "Proyectos", "Blog"]}
        />
        <main class="relative w-full">
            <slot />
        </main>
    </body>
</html>
