---
interface Props {
    title: string;
}

import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
        <title>{title}</title>
    </head>
	<body class="bg-darkPink">
        <Header 
            logoUrl="/public/favicon.png" 
        />
        <main class="relative w-full">
            <slot />
        </main>
	</body>
</html>

<style is:global>
    @font-face {
        font-family: 'Dela Gothic One';
        src: url('/public/fonts/DelaGothicOne-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }
</style>