---
interface Props {
    title: string;
    pageDescription: string;
    pageTitle: string;
    stylesEnqueued?: string;
}
const { title, pageTitle, pageDescription, stylesEnqueued } = Astro.props;

import "@fontsource/ibm-plex-sans/300.css";
import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/500.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/dela-gothic-one/400.css";

import Header from "../components/header.svelte";
import Footer from "../components/footer.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <meta name="description" content={pageDescription} />
    </head>
    <body
        style=`${stylesEnqueued}`
        class="bg-velvet text-velvet-50 selection:bg-velvet-800 selection:text-velvet-50"
    >
        <Header
            logoUrl="/favicon.png"
            pageName={pageTitle}
            currentPathName=""
            client:load
        />
        <main class="w-full">
            <slot />
        </main>
        <Footer />
        <slot name="equeueFooter" />
    </body>
</html>
