---
interface Props {
    text: string;
    link: string;
    linkTitle: string;
}
const { text, link, linkTitle } = Astro.props;
const currentPage = Astro.url.pathname;
---

<li
    class:list={[
        "font-medium",
        link == currentPage
            ? "text-pink-100 underline bg-pink-900/25"
            : "text-pink-200",
        "hover:text-pink-50",
        "hover:underline",
        "underline-offset-2",
        "flex",
        "hover:bg-velvet-900/25",
        "bg-pink-900/5",
    ]}
>
    <a class="w-full px-5 py-4 h-max" title=`Ir a ${linkTitle}` href={link}
        >{text}</a
    >
</li>
